body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 450px;
    margin: 25px auto;
    margin: auto;
    font-size: 20px;
}
.input-area{
    margin-bottom: 15px;
    /* font-size: 0; */
    display: block;
}
#basedate{
    font-size: 20px;
    width: 120px;
    height:40px;
    text-align: right;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}
#days{
    font-size: 20px;
    width: 45px;
    height:40px;
    text-align: right;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

#btn{
    cursor: pointer;
    font-size: 18px;
    width: 100px;
    background: #eee;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 6px #ccc;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 10px;
}

.result-area{
    background: #f8f8f8;
    padding: 10px;
    height: 130px;
    border-radius: 5px;
    position: relative;
}

.disabled{
    cursor: none;
    opacity: 0.5;
}